[Unit]
Description=redis_proxy online version
After=network.target

[Service]
ExecStart=/usr/local/redis_proxy/bin/redis_proxy -c /usr/local/redis_proxy/redis.json -L /usr/local/redis_proxy/log/redis_proxy.log

User=root
Group=root

[Install]
WantedBy=multi-user.target
